#UE5 file
.vs/
Binaries/
Config/
DerivedDataCache/
hooks/
Intermediate/
Platforms/
Saved/
Content/__ExternalActors__/
Content/Collections
Content/Developers
Content/Fonts
Content/LevelPrototyping
Content/PROJECTS
Content/Realistic_Starter_VFX_Pack_Vol2
Content/StarterContent
Content/Test
Content/VFX_PROJECT

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
